:host {
  --gotham-logo-fill: #410a41;
  --gotham-logo-fill-dark: #e8b0e8;
  --gotham-logo-height: 80px;
  display: block;
}

:host([hidden]) {
  display: none;
}

#container {
  display: block;
  overflow: hidden;
}

svg {
  width: 100%;
  height: var(--gotham-logo-height);
  fill: var(--gotham-logo-fill);
}
:host([theme="dark"]) svg {
  fill: var(--gotham-logo-fill-dark);
}